.navBar {
    z-index: 3;
    position: sticky;
    top: 0;
    background-color: #110909;
    overflow: hidden;
}

div.navLogo {
    padding: 10px;
}

img.navLogo {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    height: 90px;
}


img.navLogo:hover {
    cursor: pointer;
}

a.navCart {
    border-radius: 6px;
    position: fixed;
    right: 20px;
    top: 17px;
}

a.navCart.active {
    background-color: #33221e;
}

a.navCart:hover {
    background-color: #8c695f;
    cursor: pointer;
}

img.navCart {
    padding: 10px;
}

img.navCart:hover {
    filter: invert(1);
}

div.navButtons {
    background-color: #271717;
    /* overflow: hidden; */
    display: flex;
    justify-content: space-evenly;
}

a.navButton {
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 15px;
    margin: 5px;
    text-decoration: none;
    font-size: 25px;
}

a.navButton.active {
    background-color: #33221e;
    color: white;
}

a.navButton:hover {
    background-color: #8c695f;
    color: black;
}