div.item {
    font-family: Helvetica;
    background-color: white;
    border-radius: 5px;
    padding: 1px;
    padding-left: 15px;
    margin: 5px;
    padding-right: 15px;
    min-height: auto;
}

.quantity {
    margin-right: 5px;
}

.price {
    float: right;
    margin-right: 5px;
}

button.itemButton {
    float: right;
    margin-left: 5px;
    background-color: white;
    border-color: lightslategray;
    border-radius: 5px;
}

button.itemButton:hover {
    background-color: #8c695f;
    color: white;
    cursor: pointer;
}

div.modal {
    display: none;
    z-index: 2;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

div.editWindow {
    display: none;
    z-index: 2;
    background-color: white;
    width: 400px;
    height: 300px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 250px;
}

div.editInnerBox {
    margin-top: -10px;
    padding: 20px;
}

a.modalCloseButton {
    float: right;
    font-size: large;
}

a.modalCloseButton:hover {
    cursor: pointer;
}

.modalTitle {
    margin-top: 5px;
    margin-bottom: 0px;
}

p.modalItemLabel {
    font-size: large;
}

button.modalButton {
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 5px;
    background-color: white;
    border-color: lightslategray;
    border-radius: 5px;
}

button.modalButton:hover {
    background-color: #8c695f;
    color: white;
    cursor: pointer;
}

div.modalField {
    display: flex;
    justify-content: flex-start;
}

select.modalSelect {
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 5px;
    background-color: white;
    border-color: lightslategray;
    border-radius: 5px;
}