
div.menuItems {
    float: left;
    width: calc(100% - 25em);
}

div.order {
    position: fixed;
    right: 0;
    width: 25em;
    height: 100%;
    background-color: lightgray;
    box-shadow: -1px 3px 4px 3px rgba(0, 0, 0, 0.4);
}