
div.menuItems {
    float: left;
    width: calc(100% - 25em);
    background-color:  rgb(0, 0, 0);
}

div.order {
    position: fixed;
    right: 0;
    width: 25em;
    height: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: -1px 3px 4px 3px rgba(0, 0, 0, 0.4);
}