

div.menuItems {
    /* float: left; */
    /* width: 100% -25em; */
    height: 5000px;
    background-color: #271717;
    /* display: flex;
    flex-flow: column wrap;
    flex-direction: column; */
    /* background-color: lightblue; */
    /* grid-template-columns: 3;
    grid-template-rows: repeat(auto-fill, 120px);
    grid-row-gap: .5em;
    grid-column-gap: 1em; */
    margin: auto;
    width: 800px;
}

.itemGrid{
    /* 
    
    flex-flow: column-wrap;
    justify-content: space-around;
    
    
    padding: 10px; */
    z-index: 0;
    background-color: black;
    margin: auto;
    width: 45%;
    max-width: 800px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: space-around;
}



div.order {
    position: fixed;
    background-color: #110909;
    right: 0;
    z-index: 1;
    width: 27%;
    height: auto;
    top: 300px;
    box-shadow: -1px 3px 4px 3px rgba(0, 0, 0, 0.4);
}
