<app-navbar activeElement=menu></app-navbar>

<!-- <div class="menuItems"> -->
    <ul class = "itemGrid">
        <li *ngFor="let item of menu.items">
            <app-item [item]="item" (addToOrder)="addToOrder($event)"></app-item>
        </li>
    </ul>
<!-- </div> -->

<div class="order">
    <h3 class="cartTitle">Cart</h3>
    <div class="cartList">
        <app-cart-list></app-cart-list>
    </div>
    <p class="cartTotal">Total: ${{getTotal()}}</p>
    <a routerLink="/cart"><button class="checkoutButton">Checkout</button></a>
</div>