<app-navbar activeElement=cart></app-navbar>
<html>
<h1 class="header">CART</h1>
<div class="cart-row">
    <span class="cart-item cart-header cart-column">ITEM</span>
    <span class="cart-price cart-header cart-column">PRICE</span>
    <span class="cart-quantity cart-header cart-column">QUANTITY</span>
</div>
<br>
<br>
<div class="cart-total">
    <span class="cartTotal">TOTAL: </span>
    <span class="price">$0</span>
</div>

<button class=" btn-purchase" type="button">PURCHASE</button>

</html>