div.item {
    
    color: white;
    /* border-radius: 3px; */
    /* max-height: 200px;
    max-width: 200px; 
    min-width: 50px;
    min-height: 200px; */
    height: 200px;
    width: 200px;
    padding: 1px;
    padding-left: 10px;
    margin: 3px;
    padding-right: 10px;
     -webkit-column-break-inside: avoid; /*Chrome, Safari */
}

p.name {
    background-color: rgba(0,0,0,.8);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 5px;
    padding-top: 5px;


}
img.item {
    height: 200px;
    width: 200px;
}

p.description {
    text-align: center;
    background-color: rgba(0,0,0,0);
    color: rgba(255,255,255,0);
    transition: background 1s;
    transition: color .5s;
}

p.description:hover{
    background-color: rgba(0,0,0,.8);
    color: rgba(255,255,255,1);
}


span.price {
    float: right;
}

button.add {
    float:right;
    border-color: rgb(255, 255, 255);
    background-color: black;
    color: white;
}

p.calories{
    background-color: rgba(0,0,0,.8);
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left:5px;
    padding-right:5px;
}