div.item {
    background-color: #271717;
    color: white;
    /* border-radius: 3px; */
    /* max-height: 200px;
    max-width: 200px; 
    min-width: 50px;
    min-height: 200px; */
    height: 200px;
    width: 200px;
    padding: 1px;
    padding-left: 10px;
    margin: 3px;
    padding-right: 10px;
     -webkit-column-break-inside: avoid; /*Chrome, Safari */
}

span.price {
    float: right;
}

button.add {
    float: right;
}


/*a*/