/* You can add global styles to this file, and also import other style files */
body, html{
    background-color: #110909;
    background-image: url('/assets/img/flower-bg.png');
    margin: 0;
    padding: 0;
}