<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sarina&display=swap" rel="stylesheet">
<body>
    <div class="navBar">
        <p class="navTitle">Epic Logo</p>
        <div class=navButtons>
            <a class="navCart" href="cart">🛒</a>
            <a class="navButton active" href="">Home</a>
            <a class="navButton" href="menu">Menu / Order Online</a>
            <a class="navButton" href="about">About</a>
        </div>
    </div>
    
    <div class="content">
        <p><br/>
            Good ingredients. Actually, okay at best. Like, okay.<br/><br/>
            Hours:<br/>
            Monday - Friday: 9am - 7pm<br/>
            Saturday: 9am- 5pm<br/>
            Sunday: Closed<br/><br/>
            Phone<br/>
            555-123-1234
        </p>
    </div>
    <div class="footer">
        <p>Social Media Buttons go here</p>
    </div>
</body>