<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sarina&display=swap" rel="stylesheet">
<body>
    <app-navbar activeElement=home></app-navbar>
    
    <div class="content">
        <p><br/>
            Good ingredients. Actually, okay at best. Like, okay.<br/><br/>
            Hours:<br/>
            Monday - Friday: 9am - 7pm<br/>
            Saturday: 9am- 5pm<br/>
            Sunday: Closed<br/><br/>
            Phone<br/>
            555-123-1234
        </p>
    </div>
    <div class="footer">
        <p>Social Media Buttons go here</p>
    </div>
</body>